<cs-header>
  <p levels>Matches / {{ match?.homeTeam}} - {{ match?.awayTeam}}</p>

  <div content>
    <p>{{ match?.date | date:'shortDate' }}</p>
  </div>
</cs-header>

<div class="data-container">
  <div class="row">
    <div class="col-sm-4">
      <h1 class="text-center">
        {{match?.homeTeam}}<br/>
        <small>{{betPoints.homeTeam}}</small>
      </h1>
      <hr/>
      <div class="text-center">
        <button class="btn btn-primary" (click)="selectTeam(1)" *ngIf="myBet?.matchResult != 1">SELECT</button>
      </div>
    </div>
    <div class="col-sm-4">
      <h1 class="text-center">
        DRAW<br/>
        <small>{{betPoints.draw}}</small>
      </h1>
      <hr/>
      <div class="text-center">
        <button class="btn btn-primary" (click)="selectTeam(3)" *ngIf="myBet?.matchResult != 3">SELECT</button>
      </div>
    </div>
    <div class="col-sm-4">
      <h1 class="text-center">
        {{match?.awayTeam}}<br/>
        <small>{{betPoints.awayTeam}}</small>
      </h1>
      <hr/>
      <div class="text-center">
        <button class="btn btn-primary" (click)="selectTeam(2)" *ngIf="myBet?.matchResult != 2">SELECT</button>
      </div>
    </div>
  </div>

  <br/><br/><br/>
  <br/><br/><br/>
  <div class="row" *ngIf="myBet">
    <div class="col-sm-12">
      <h3 class="text-center">
        <small>Your bet:</small><br/>
        {{getMyBetText()}}
      </h3>
      <p *ngIf="errorMessage" class="text-danger text-center">{{errorMessage}}</p>
    </div>
  </div>
  <hr/>
  <div class="row" *ngIf="myBet">
    <div class="col-sm-6">
      <div class="form-group float-right">
        <label> Points value:
          <input type="number" [(ngModel)]="myBet.points" class="form-control" [min]="1">
        </label>
      </div>
    </div>
    <div class="col-sm-6">
      <br/>
      <button class="btn btn-outline-success" (click)="bet()">Save bet</button>
      <button class="btn btn-outline-warning" (click)="reset()">Reset</button>
      <button class="btn btn-outline-danger" (click)="cancel()">Cancel</button>
    </div>
  </div>
</div>
