<cs-header>
  <p levels>My profile</p>

  <div content>
    <p>My profile</p>
  </div>
</cs-header>

<div class="data-container">
  <div class="row">
    <div class="col-sm-12">
      <label>Login:</label>
      <span>{{player?.login}}</span>
      <br/>

      <label>Level:</label>
      <span>{{player?.level}}</span>
      <br/>

      <label>Max level:</label>
      <span>{{player?.maxLevel}}</span>
      <br/>

      <label>Points:</label>
      <span>{{player?.points}}</span>
      <br/>

      <label>Wins:</label>
      <span>{{player?.wins}}</span>
      <br/>
      
      <label>Loses:</label>
      <span>{{player?.loses}}</span>
    </div>
  </div>
</div>
